.footer {
  background-color: var(--blue);
  color: var(--white);
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  width: 100vw;
}

.heading {
  font-size: var(--huge);
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  gap: 30px;
}

.email {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.copyrightLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Limit the content width */
  margin: 0 auto; /* Center the content horizontally */
  flex-wrap: wrap; /* Make links wrap on smaller screens */
}
.copyrightLinks p {
  margin: 0;
  font-size: 16px;
  }
  
.copyrightLinks div {
  display: flex;
  gap: 20px; /* Space between links */
  }

.link {
  position: relative;
  text-decoration: none;
  color: var(--white); /* Use white color for links */
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjusts position below text */
  width: 0%; /* Start with no underline */
  height: 2px; /* Thickness of underline */
  background-color: var(--white); /* Color of the underline */
  transition: width 0.4s ease-in-out; /* Smooth transition */
}

.link:hover::after {
  width: 100%; /* Expands the underline from left to right */
}


.email {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}


.email::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0%; 
  height: 2px; 
  background-color: var(--white); 
  transition: width 0.4s ease-in-out; 
}

.email:hover::after {
  width: 100%; 
}


.contactme {
  font-size: 16px;
}

