
.sectionOne {
    margin: 80px 0 0 0;
  }
  .sectionOneHeader h1 {
    font-size: var(--huge);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
    padding: 0;
    margin-left: 0;
  }
  
  .sectionOne span {
    color: var(--blue);
  }
  
  .exploreButton span {
    color: var(--black);
  }
  .exploreButton {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  
  .exploreButtonCircle {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .exploreButtonCircle svg {
    stroke: white;
  }
  
  .explore-button:hover .circle {
    opacity: 0.8;
  }
  