.body {
    display: flex;
    flex-direction: column;
    gap: 110px;
    align-items: center;

}

.container {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 110px;
    margin-top: 110px;


}

.image,
.beepValueImg {
    max-width: 80vw;
    height: auto;
}
.title h1 {
    width: 80%;
    position: relative;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title span {
    color: var(--blue);
}

.image {
    border-radius: 20px;
}


.infoContainer {
    max-width: 1437px;
    width: 100%;
}

.overviewContainer {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview {
    display: flex;
    flex-direction: row;
    gap: 170px;
    width: 100%;
    align-items: center;
}

.leftColumn {
    flex: 2; /* ✅ Make left column bigger */
    width: 70%; /* Adjust to make it even larger */
}

.rightColumn {
    display: flex;
    flex-direction: column;
    flex: 1.8; /* ✅ Reduce right column size */
    gap: 20px;
}

.rightColumnContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    gap: 20px;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    padding: 30px 0;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
}

.value {
    text-align: right;
    max-width: 300px;
}

.overviewTitle {
    color: var(--blue);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overviewText {
    font-size: 16px;
    line-height: 1.5;
}

.prototypeBtn {
    width: 139px;
    height: 40px;
    background-color: var(--blue);
    border: none;
    border-radius: 50px;
    color: var(--white);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.prototypeBtn:hover {
    background-color: var(--cornflowerblue);
}


.projectDetailsCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topCard {
    display: flex;
    gap: 20px;
}
.problemCard,
.solutionCard,
.developProcessCard {
    border-radius: 20px;
    background-color:#1E142F;
    padding: 50px 40px;
    color: var(--white);
    overflow: hidden;
}

.problemCard {
    width: 580px;
    height: 540px;
}

.solutionCard {
    width: 880px;
    height: 540px;
}

.svg {
    z-index: 20;
    position:relative;
    top: -487.5px;
    left: 50px;
}

.cardContent h2,
.cardContent p {
    position: relative;
    z-index: 21;
}


.cardContentContainer {
    display: flex;
    flex-direction: column;
    gap: 250px;
    z-index: 10;
}


.cardContent h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
}

.cardContent p {
    font-weight: 300;
    font-size: 16px;
}

.solutionSVG {
    position: relative;
    top: -730px;
    z-index: 20;
    left: 280px;
}

.beepValueImg {
    border-radius: 20px;
}

/******************************DEVELOPMENT PROCESS******************************/
.developmentProcess {
    display:flex;
    flex-direction: column;
    gap: 60px;
}
.developProcessAgenda {
    display: flex;
    width: 100%;
    height: 509px;
    gap: 100px;
    justify-content: space-between;
}

.developProcessCard {
    width: 430px;
    height: 509px;
    display: flex;
    flex-direction: column;
    gap: 270px;

}
.developProcessCard h2 {
    position: relative;
    z-index: 10;
    line-height: normal;
}

.developSVG {
    position: relative;
    z-index: 5;
    top: -400px;
    height: 635px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sectionContainer {
    display: flex;
    max-width: 940px;
    justify-content: space-between;
}

.sectionContainer:hover {
    color: var( --cornflowerblue);
}

.sectionNumber {
    display: flex;
    gap: 30px;

}

.sectionNumber h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionParagraph {
    max-width: 45%;
}

.divide {
    border-bottom: solid 2px rgba(235, 235, 235, 0.50);
}

.projectsDevelopContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.persona {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    background: #1E142F;
    padding: 140px;

}

.sitemap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    background: #1E142F;
    padding: 50px;
}

.figma {
    border-radius: 20px;
    border: none;
}