:root {
  --white: #FFFEFC;
  --black: #181818;
  --blue: #0057FF;
  --black-20: rgba(24, 24, 24, 0.2);
  --cornflowerblue: #5D94FF;
  --huge: 110px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* padding: 0 30px; */
}

/*body {
  cursor: none;
}

a {
  cursor: none;
}*/