.main,
.footer {
  background-color: var(--blue);
  color: var(--white);
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}