.body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;

}
.container {
  max-width: 1485px;
  width: 100%;
  height:auto;
  display:flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 110px;
  margin-left: 130px;
  margin-right: 120px;
}

.header {
  font-size: 120px;
  font-weight: 400;
  margin: 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
}

/*Button*/

.filters {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
  font-weight: 400;
}

.button {
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: #5D94FF;
}

.activeButton {
  color: #0057FF;
  font-weight: bold;
  border: none;
  background: none;
  font-size: 30px;
  font-weight: 400;
}

.footer {
  background-color: var(--blue);
  color: var(--white);
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
